/*thông báo*/
.scrollbarr {
  max-height: 150px;
  overflow-y: scroll;
}
.scrollbarr::-webkit-scrollbar-track
{
  background-color: #F5F5F5;
}

.scrollbarr::-webkit-scrollbar
{
  width: 7px;
  background-color: #F5F5F5;
}

.scrollbarr::-webkit-scrollbar-thumb
{
  background-color: #ccc;
}
/*endthông báo*/

.anmodal::-webkit-scrollbar { 
    display: none; 
}
.anmodal{
  overflow: hidden;
}

/*thông báo*/
.scrollbarr1 {
  max-height: 100%;
  overflow-y: scroll;
}
.scrollbarr1::-webkit-scrollbar-track
{
  background-color: #F5F5F5;
}

.scrollbarr1::-webkit-scrollbar
{
  width: 7px;
  background-color: #F5F5F5;
}

.scrollbarr1::-webkit-scrollbar-thumb
{
  background-color: #ccc;
}
/*endthông báo*/
/*upload con dấu*/
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}

/*end upload con dấu*/

.chosen-results::-webkit-scrollbar-track
{
  background-color: #F5F5F5;
}

.chosen-results::-webkit-scrollbar
{
  width: 7px;
  background-color: #F5F5F5;
}

.chosen-results::-webkit-scrollbar-thumb
{
  background-color: #ccc;
}
div.chosen-drop{
  margin-bottom: 10px
}

/*multiselect*/
ul.dropdown-menu::-webkit-scrollbar-track
{
  background-color: #F5F5F5;
}

ul.dropdown-menu::-webkit-scrollbar
{
  width: 7px;
  background-color: #F5F5F5;
}

ul.dropdown-menu::-webkit-scrollbar-thumb
{
  background-color: #ccc;
}
.pdfobject-container { height: 500px;}
.pdfobject { border: 1px solid #666; }


/*mở rộng*/
/*thông báo*/
.morong {
  overflow-y: scroll;
}
.morong::-webkit-scrollbar-track
{
  background-color: #F5F5F5;
}

.morong::-webkit-scrollbar
{
  width: 0px;
  background-color: #F5F5F5;
}

.morong::-webkit-scrollbar-thumb
{
  background-color: #ccc;
}
/*endthông báo*/
/*end mở rộng*/
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.form-control-feedback{
    padding-top: 10px;
}
.tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none
}
.tree ul {
    margin-left:1em;
    position:relative
}
.tree ul ul {
    margin-left:.5em
}
.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}
.tree li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    color:#369;
    font-weight:700;
    position:relative
}
.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree ul li:last-child:before {
    background:#fff;
    height:auto;
    top:1em;
    bottom:0
}
.indicator {
    margin-right:5px;
}
.tree li a {
    text-decoration: none;
    color:#369;
}
.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color:#369;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}


div.autosuggest
{
	position: absolute;
	background-image: url(img_inquisitor/as_pointer.gif);
	background-position: top;
	background-repeat: no-repeat;
	padding: 7px 0 0 0;
}

div.autosuggest div.as_header,
div.autosuggest div.as_footer
{
	position: relative;
	height: 6px;
	padding: 0 6px;
	background-image: url(img_inquisitor/ul_corner_tr.gif);
	background-position: top right;
	background-repeat: no-repeat;
	overflow: hidden;
}
div.autosuggest div.as_footer
{
	background-image: url(img_inquisitor/ul_corner_br.gif);
}

div.autosuggest div.as_header div.as_corner,
div.autosuggest div.as_footer div.as_corner
{
	position: absolute;
	top: 0;
	left: 0;
	height: 6px;
	width: 6px;
	background-image: url(img_inquisitor/ul_corner_tl.gif);
	background-position: top left;
	background-repeat: no-repeat;
}
div.autosuggest div.as_footer div.as_corner
{
	background-image: url(img_inquisitor/ul_corner_bl.gif);
}
div.autosuggest div.as_header div.as_bar,
div.autosuggest div.as_footer div.as_bar
{
	height: 6px;
	overflow: hidden;
	background-color: #333;
}


div.autosuggest ul
{
	list-style: none;
	margin: 0 0 -4px 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

div.autosuggest ul li
{
	color: #ccc;
	padding: 0;
	margin: 0 4px 4px;
	text-align: left;
}

div.autosuggest ul li a
{
	color: #ccc;
	display: block;
	text-decoration: none;
	background-color: transparent;
	text-shadow: #000 0px 0px 5px;
	position: relative;
	padding: 0;
	width: 100%;
}
div.autosuggest ul li a:hover
{
	background-color: #444;
}
div.autosuggest ul li.as_highlight a:hover
{
	background-color: #1B5CCD;
}

div.autosuggest ul li a span
{
	display: block;
	padding: 3px 6px;
	font-weight: bold;
}

div.autosuggest ul li a span small
{
	font-weight: normal;
	color: #999;
}

div.autosuggest ul li.as_highlight a span small
{
	color: #ccc;
}

div.autosuggest ul li.as_highlight a
{
	color: #fff;
	background-color: #1B5CCD;
	background-image: url(img_inquisitor/hl_corner_br.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
}

div.autosuggest ul li.as_highlight a span
{
	background-image: url(img_inquisitor/hl_corner_bl.gif);
	background-position: bottom left;
	background-repeat: no-repeat;
}

div.autosuggest ul li a .tl,
div.autosuggest ul li a .tr
{
	background-image: transparent;
	background-repeat: no-repeat;
	width: 6px;
	height: 6px;
	position: absolute;
	top: 0;
	padding: 0;
	margin: 0;
}
div.autosuggest ul li a .tr
{
	right: 0;
}

div.autosuggest ul li.as_highlight a .tl
{
	left: 0;
	background-image: url(img_inquisitor/hl_corner_tl.gif);
	background-position: bottom left;
}

div.autosuggest ul li.as_highlight a .tr
{
	right: 0;
	background-image: url(img_inquisitor/hl_corner_tr.gif);
	background-position: bottom right;
}



div.autosuggest ul li.as_warning
{
	font-weight: bold;
	text-align: center;
}

div.autosuggest ul em
{
	font-style: normal;
	color: #6EADE7;
}